.layout {
    display: flex;
    flex-direction: column;
}

.navigation {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    gap: 20px;
}

.navigation a {
    padding: 5px;
    text-decoration: none;
    color: black;
}

.navigation a:hover {
    color: aliceblue;
    background-color: darkblue;
}