.layout {
    display: flex;
    flex-direction: column;
}

.navigation {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    gap: 20px;
    position: relative;
}

.navigation::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -5px;
    height: 7px;
    background: linear-gradient(to bottom, rgb(99, 97, 97), white);
}

.navigation a {
    padding: 5px;
    text-decoration: none;
    color: black;
}

.navigation a:hover {
    color: aliceblue;
    background-color: darkblue;
}