.dashboard {
    width: 300px;
    height: 100px;
    border-radius: 20px;
    padding: 20px;
    margin: 0;
    background-color: rgb(238, 216, 11);
    color: black;
    display: flex;
    flex-direction: column;
    align-items: normal;
    justify-content: space-around;
}

.dashboard .pay-income-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.dashboard .pay-income-content .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.date:hover {
    cursor: pointer;
}

.date .arrow {
    position: absolute;
    display: inline-block;
    width: 22px;
    height: 22px;
}

.arrow.expand {
    background-image: url('https://img.icons8.com/?size=100&id=oUkF765HCB6l&format=png&color=000000');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
}

.arrow.collapse {
    background-image: url('https://img.icons8.com/?size=100&id=mN26pzMGQqFR&format=png&color=000000');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
}

.bill-item {
    width: 320px;
    height: 50px;
    padding: 10px;
    margin: 5px 0 5px 0;
    border-radius: 10px;
    background-color: rgba(150, 191, 36, 0.473);
    color: rgba(50, 16, 217, 0.471);
    display: flex;
    flex-direction: column;
}

.bill-item .type-useFor-money {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.bill-item .date {
    text-align: right;
}