.dashboard {
    width: 300px;
    height: 100px;
    border-radius: 20px;
    padding: 10px;
    background-color: cadetblue;
    color: azure;
    display: flex;
    flex-direction: column;
    align-items: normal;
    justify-content: space-around;
}

.dashboard .pay-income-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.dashboard .pay-income-content .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.date:hover {
    cursor: pointer;
}

.date .arrow {
    position: absolute;
    display: inline-block;
    width: 22px;
    height: 22px;
}

.arrow.expand {
    background-image: url('https://img.icons8.com/?size=100&id=oUkF765HCB6l&format=png&color=000000');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
}

.arrow.collapse {
    background-image: url('https://img.icons8.com/?size=100&id=mN26pzMGQqFR&format=png&color=000000');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
}