.comment-component {
    margin: 0;
    padding: 0;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    width: 800px;
    min-height: 400px;
}

.current-state-bar {
    width: 100%;
    height: 40px;
    display: flex;
    padding: 0.5em;
    align-items: center;
    justify-content: start;
}

.text-and-num-of-comments {
    min-width: 10%;
    margin-right: 0.5em;
    display: flex;
    align-items: center;
    justify-content: left;
}

.text-and-num-of-comments .text {
    font-size: 1.2em;
    font-weight: bold;
    margin-right: 0.5em;
}

.text-and-num-of-comments .num-of-comments {
    font-size: 0.9em;
    color: rgba(79, 78, 78, 0.743);
}

.hot-and-last-btn {
    min-width: 10%;
    display: flex;
    align-items: center;
}

.hot-and-last-btn button {
    border-style: none;
    background-color: white;
    padding-left: 0.6em;
    padding-right: 0.6em;
}

.hot-and-last-btn button:hover {
    color: rgb(52, 195, 235);
}

.last-state {
    color: black;
}

.not-last-state {
    color: rgba(55, 54, 54, 0.564);
}

.comment-input-bar {
    width: 95%;
    margin: 1em 0;
    display: flex;
}

.comment-input-bar .input-bar-btn {
    min-width: 91%;
    min-height: 45px;
    display: flex;
    flex-direction: column;
}

.comment-input-bar .input-bar-btn .warning-and-btn {
    display: flex;
    align-items: center;
}

.comment-input-bar .input-bar-btn .warning-and-btn:last-child {
    justify-content: end;
}

.comment-input-bar .input-bar-btn .warning-and-btn .warning-text {
    background-color: black;
    color: aliceblue;
    padding: 0.2em 0.5em;
    margin: 0 auto;
}

.comment-input-bar .input-bar-btn .input-bar {
    min-width: 95%;
    height: 45px;
    border: 1px solid transparent;
    border-radius: 0.5em;
    padding: 0 0.7em;
    margin-bottom: 0.5em;
    background-color: rgba(222, 227, 231, 0.592);
}

.comment-input-bar .input-bar-btn .input-bar:hover {
    background-color: white;
    border: 1px solid rgba(45, 45, 45, 0.416);
}

.comment-input-bar .input-bar-btn button {
    width: 65px;
    height: 35px;
    border: none;
    border-radius: 0.5em;
    color: white;
    background-color: rgb(23, 179, 241);
}

.comment-input-bar .input-bar-btn button:hover {
    background-color: rgb(23, 179, 241);
}

.comment-input-bar .input-bar-btn .disabled-btn {
    background-color: rgba(131, 204, 231, 0.646);
}

.profile {
    width: 60px;
}

.profile img {
    display: block;
    width: 45px;
    height: 45px;
    margin: 0 auto;
    border-style: none;
    border-radius: 50%;
}

.comments-list {
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(87, 83, 83);
}

.comment {
    width: 100%;
    display: flex;
}

.comment .profile img {
    width: 35px;
    height: 35px;
}

.name-content-time-like-delete {
    width: 90%;
    padding: 0.5em 0.5em 1em 0;
    border-bottom: 1px solid rgba(80, 78, 78, 0.315);
}

.name-content-time-like-delete .name {
    color: rgba(34, 34, 34, 0.726);
    font-size: 0.9em;
}

.name-content-time-like-delete .content {
    margin: 0.5em 0;
}

.time-like-delete {
    width: 100%;
    height: 0.9em;
    display: flex;
    align-items: center;
    justify-content: left;
    font-size: 0.8em;
    color: rgba(46, 46, 46, 0.572);
}

.time-like-delete .flex-item {
    margin: 0 1em 0 0;
}

.time-like-delete button {
    border-style: none;
    background-color: white;
}

.time-like-delete button:hover {
    color: rgb(52, 195, 235);
}

.time-like-delete .like-btn-and-num {
    height: 100%;
    display: flex;
    align-items: center;
}

.time-like-delete .like-btn-and-num:hover {
    color: rgb(52, 195, 235);
}

.time-like-delete .like-btn-and-num .like-btn {
    background-image: url(../../assets/thumb_up_24dp_1F1F1F_FILL0_wght400_GRAD0_opsz24.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 14px;
    height: 14px;
    margin: 0 0.5em;
}

.time-like-delete .like-btn-and-num .like-btn:hover {
    background-image: url(../../assets/bluethumb.png);
}